# Created by https://www.gitignore.io/api/django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
/txtfiles
/media
/static
venv
.env
.vscode
/node_modules
yarn.lock
