{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %} DAVID CHUKA {% endblock title %}</title>
        <link rel="stylesheet" href="{% static 'css/bulma/bulmacss/bulma.min.css' %}">
        <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        {% comment %} <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}"> {% endcomment %}
        {% block css %}
        {% endblock css %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <!-- <script src="{% static 'js/main.js' %}"></script> -->
</head>

<body>

    {% include "layouts/navbar.html" %}
    {% block body %}
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container animate">
                <h1 id = "intro" class="title has-text-centered">Hi, you have reached David Chuka.</h1>
                <h2 id ="intro2" class="subtitle" style="text-align: center">how may I be of help?</h2>
            </div>
        </div>
        <p class="has-text-centered" style="color:gray;">Chucodee Tech &copy; 2018</p>
    </section>
    {% endblock body %}
</body>

</html>
