{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
{% endblock css %}

<footer class="footer">
    <div class="content has-text-centered">
        <p>Chucodee Tech &copy; 2018</p>
            <div class="icons">
                <a href="https://www.facebook.com/chuka.nwadiogbu" target="_blank">
                    <span class="icon" id="facebook">
                            <i class="fab fa-facebook-f fa-2x" title="facebook"></i>
                    </span>
                </a>

                <a href="https://twitter.com/CNwadiogbu" target="_blank">
                    <span class="icon" id="twitter">
                            <i class="fab fa-twitter fa-2x" title="twitter"></i>
                    </span>
                </a>
               
                <a href="https://www.linkedin.com/in/chuka-nwadiogbu-b02889145" target="_blank">
                    <span class="icon" id="linkedin">
                            <i class="fab fa-linkedin fa-2x" title="Linkedin"></i>
                    </span>
                </a>

                <a href="https://github.com/ChuckD30" target="_blank">
                    <span class="icon" id="github">
                            <i class="fab fa-github fa-2x" title="github"></i>
                    </span>
                </a>
            </div>

    </div>
</footer>