{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
{% endblock css %}

<footer class="footer">
    <div class="content has-text-centered">
        <p>Chucodee Tech &copy; 2018</p>

            <div class="icons">
                <a href="https://www.facebook.com/chuka.nwadiogbu">
                    <span class="icon is-large" id="facebook">
                            <i class="fab fa-facebook-f fa-2x" title="facebook"></i>
                    </span>
                </a>

                <a href="https://twitter.com/CNwadiogbu">
                    <span class="icon" id="twitter">
                            <i class="fab fa-twitter fa-2x" title="twitter"></i>
                    </span>
                </a>
               
                <a href="">
                    <span class="icon" id="instagram">
                            <i class="fab fa-instagram fa-2x" title="instagram"></i>
                    </span>
                </a>
               
                <a href="https://github.com/ChuckD30">
                    <span class="icon is-large" id="github">
                            <i class="fab fa-github fa-2x" title="github"></i>
                    </span>
                </a>
            </div>

    </div>
</footer>