{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock css %}

<nav class="navbar is-transparent is-boxed" role="navigation" aria-label="main navigation" id="navigate">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'home' %}" style="font-weight:bold;">davidchuka</a>
    <a role="button" class="navbar-burger" id='burger' aria-label="menu" aria-expanded="false" onclick="toggleBurger()">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
  </div>

  <div class="navbar-menu" id="menuItems">
    <div class="navbar-end">
      <div class="navbar-item">
        <a href="{% url 'info:about_me' %}" class="navbar-item">Meet me</a>
        <a href="{% url 'blog:post_list' %}" class="navbar-item" id="droppedItems">Blog</a>
        <a href="" class="navbar-item">Projects</a>
        <a href="" class="navbar-item">Store</a>
        <a href="mailto:hello@davidchuka.me" class="navbar-item">hello@davidchuka.me</a>
      </div>
    </div>
  </div>
</nav>


<script>
// burger for mobile
const toggleBurger = () => {
  let burgerIcon = document.getElementById('burger');
  let dropMenu = document.getElementById('menuItems');
  //let droppedItems = document.querySelector('droppedItems');

  burgerIcon.classList.toggle('is-active');
  dropMenu.classList.toggle('is-active');
  dropMenu.style.background ='#5652A3';
  }



//transparency on scroll
  var navbar = document.getElementById('navigate');
  let dropMenu = document.getElementById('menuItems');
  //var navbarItems = document.querySelector('navbar-item')
  window.addEventListener('scroll', changeNav);
  function changeNav() {
    if (window.scrollY > 50) {
      navbar.style.background = "#5652A3";
      navbar.style.opacity = "1";
      dropMenu.style.background ='#5652A3';
    } else {
      navbar.style.background = "transparent";
      dropMenu.style.background = "transparent";
    }
  };
</script>
