{% extends "blog/base.html" %}

<title>{% block title %} My Blog {% endblock %} </title>

{% block content %}
<a href="{% url 'home' %}">
<h1>A ChuVid Description</h1>
</a>

<ul>
    {% for post in posts %}
<h2>
    <a href="{% url 'blog:post_detail' post.slug %}">
    <li>{{ post.title }}</li>
    </a>
</h2>
<p class="date">
    Published {{ post.publish }} by {{ post.author }}
</p>
{{ post.body|truncatewords:30|linebreaks }}

<a href="{{ post.medium }}">Link to medium</a>
{% endfor %}
</ul>


    {% include "blog/pagination.html" with page=page_obj %}
{% endblock %}