{% extends "pages/home.html" %}
{% load static %}

<title>{% block title %}davidchuka | Blog{% endblock title %}</title>

{% block css %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock css %}


{% block body %}
{#  A chuvid description and image banner #}
<section class="hero is-medium">
        <div class="hero-body">
            <div class="container has-text-centered blog-intro">
                {% comment %} <h1 class="title">A Chuvid Description.</h1>
                <h2 class="subtitle">A vivid description about my views and thoughts</h2> {% endcomment %}
            </div>
        </div>
</section>

<div class="container post-list-container has-text-centered">
    {% if tag %}
    <h2>Posts tagged with "{{ tag.name }}"</h2>
    {% endif %}

    
    {% for post in posts %}
    <div class="post-list has-text-centered">
        {% comment %} Pinned post:   {{ pinned_post.title }} {{pinned_post.author}}
        {% for tag in pinned_post.tags.all %} <a href="{% url 'blog:post_list_by_tag' tag.slug %}">{{ tag.name }}</a>
        {% if not forloop.last %}|{% endif %}
        {% endfor %}     {% endcomment %}
            {% if post.header %}
            <img src="{{post.header.url}}"
               alt="header-for-post"
               class="header">
            {% else %}
            {% endif %}
                    <a href="{% url 'blog:post_detail' post.slug %}">
                    <h3 class="is-size-3 has-text-weight-semibold">{{ post.title }}</h3>
                    </a>
                    <p class="date">{{ post.publish|date:"d M Y" }} by {{ post.author }}</p>
                    Tags: 
                    {% for tag in post.tags.all %} <a href="{% url 'blog:post_list_by_tag' tag.slug %}">#{{ tag.name }}</a>
                    {% if not forloop.last %}|{% endif %}
                    {% endfor %}
                    {{ post.body|safe|truncatechars:210|linebreaks }}<a href="{% url 'blog:post_detail' post.slug %}">read more</a>
                {% if post.medium %}
                <a href="{{ post.medium }}">Link to medium</a>
                {% else %}
                {% endif %}             
    </div>
{% endfor %}
{% include "blog/pagination.html" with page=posts %}
</div>
{% comment %} {% include "layouts/footer.html" %} {% endcomment %}
{% endblock %}


