{% extends "pages/home.html" %}
{% load static %}


{% block title %}davidchuka | Meet Me{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/info.css' %}">
{% endblock css %}

{% block body %}

{% if messages %}
<div class="message-container">
  {% for message in messages  %}
    <p class="{{message.tags}} has-text-centered has-background-success my-message">
      {{message|safe}}
  {% endfor %}
    </p>
</div>
{% else %}
{% endif %}

  <div class="about">
    <div class="columns">
      <div class="column">
        <img src="{% static 'img/speaking.jpg' %}" alt="baller" id="profile">
      </div>
      <div class="column">
        <h3 class="has-text-weight-semibold is-size-3-mobile is-size-1-desktop has-text-dark">Who am I?</h3>
        <p>Hi, I'm David Chuka Nwadiogbu.
        I am a full stack web developer with almost 2years of experience building websites that fit your needs.
        Over the years through intense learning, fighting my laziness and ignorance along the way, I have picked up a few amazing skills.
        These include, writing and building with python, django, javascript, react js, html, css etc.
        You can check out some of the projects I've worked on right <a href="{% url 'projects:projects' %}"><span style="color:#80CAA5">here.</span></a>
        Still in doubt? view my <a href="#"><span style="color:#80CAA5">resume</span></a>
        <br>
        Like what you see? you can <a href="#contact-me"><span style="color:#80CAA5">request</span></a>
        for me to help you build amazing stuff.</p>
       <br/>
       <p>When I'm not with Jasmine (my PC. yes, I name my devices , don't you?) you may find me playing basketball, learning something new, or just reading an amazing book</p>
      </div>
    </div>

    <hr style="background-color:#80CAA5;">

    <h3 class="has-text-weight-bold is-size-1 has-text-dark has-text-centered">What I'm into</h3>
    
    <div class="columns">

        <div class="column is-8">
          <h3 class="has-text-weight-light is-size-4 has-text-dark">Front-end Development</h3>
          <ul class="is-size-6 has-text-weight-light">
            <li>HTML • CSS • JAVASCRIPT</li>
            <li>bulma • reactjs • bootstrap</li>
          </ul>

          <div class="skills">
          <h3 class="has-text-weight-light is-size-4 has-text-dark">Database Management</h3>
            <ul class="is-size-6 has-text-weight-light">
              <li>Postgres • MongoDB • MySQL • GraphQL</li>
            </ul>
          </div>
        </div>

    <div class="column is-8">
          <h3 class="has-text-weight-light is-size-4 has-text-dark">Back-end Development</h3>
          <ul class="is-size-6 has-text-weight-light">
              <li>PYTHON • NODEJS</li>
              <li>express • django</li>
          </ul>

        <div class="skills">
          <h3 class="has-text-weight-light is-size-4 has-text-dark">Dev Ops</h3>
          <ul class="is-size-6 has-text-weight-light">
              <li>Git • Heroku • Webpack</li>
          </ul>
        </div>
        </div>
        
    </div>

  <hr style="background-color:#80CAA5;">

  <!-- FORM HERE --> 
  <section class="container need-a-website" id="contact-me">
    <h3 class="has-text-weight-semibold is-size-1 has-text-dark has-text-centered">Contact me.</h3>
    <h3 class="subtitle has-text-centered">Do you have something awesome you'd like me to be part of? Why don't you say hello here</h3>

    <div class="contact-me has-text-centered">
      <form action="" method="post">
        {{form.as_p}}
        {% csrf_token %}
        <input type="submit" value="Hit Me" class="hit-me is-size-7 has-text-white">
      </form>
    </div>
  </section>
</div>
{% include "layouts/footer.html" %}
{% endblock body %}

